{% extends 'base.html.twig' %}

{% block title %} Mon Compte - e Boutique Amaria {% endblock %}

{% block content %}

<h2>Mon Compte </h2>

Bienvenue {{ app.user.firstname }} sur votre compte 

<hr>

    <a href="{{ path('account_password') }}"> Modifier mon mot de passe </a>

<br><br>

{% endblock %}
