{% extends 'base.html.twig' %}

{% block title %} Modification mot de passe - e Boutique Amaria {% endblock %}

{% block content %}

    <h2>Modifier mon mot de passe </h2>

    <a href="{{ path('account') }}"> Retourner à mon compte !</a> <br><br>

    {% if notification %}

        <div class="alert alert-info">{{ notification }}</div>

    {% endif %}

    {{form(form)}} <br>

{% endblock %}